<!DOCTYPE html>
<html ng-app="f1app">
<head>
    <title>F1 Veikkaus -tulokset</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="./js/jquery-1.11.0.min.js"></script>
    <script src="./bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./js/f1.js"></script>
    <script src="./app.js"></script>
    <script src="./config.js"></script>
    <script src="./js/page.js"></script>
    <script src="./js/data.js"></script>

</head>
<body id="body-content">

    <nav class="navbar navbar-default" role="navigation" id="nav">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">F1 Veikkaus</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="index.html">Etusivu</a></li>
                <li><a href="#" onclick="loadPage('form.html');" id="betslip-link">Veikkaa</a></li>
                <li class="active"><a href="#" onclick="loadPage('scores.html');" id="betslip-link">Tulokset</a></li>
                <li><a href="#" onclick="loadPage('calendar.html');">Kisakalenteri</a></li>
                <li><a href="#" onclick="loadPage('drivers.html')">Kuljettajat</a></li>
                <li><a href="#" onclick="loadPage('rules.html')">Säännöt</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Muut<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://www.formula1.com/default.html">F1 -sivusto</a></li>
                        <li class="divider"></li>
                    </ul>
                </li>
            </ul>

        </div><!-- /.navbar-collapse -->
        <div class="navbar-default">
            <!-- <button id="opener-register">Rekisteröidy</button> -->
            <button id="opener-login">Kirjaudu</button>
            <button id="opener-logout">Ulos</button>
            <span id="username"></span>
        </div>

    </nav>
    <div class="modal fade" id="dialog-register">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Anna tietosi</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <fieldset>
                            <label for="name">Tunnus</label>
                            <input type="text" name="email" id="register-email" class="text ui-widget-content ui-corner-all" />
                            <label for="password">Salasana</label>
                            <input type="password" name="password" id="register-password" value="" class="text ui-widget-content ui-corner-all" />
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Sulje</button>
                    <button type="button" class="btn btn-primary" id="register-button">Rekisteröidy</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="dialog-login">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Kirjaudu sisään</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <fieldset>
                            <label for="name">Tunnus</label>
                            <input type="text" name="email" id="login-email" class="text ui-widget-content ui-corner-all" />
                            <label for="password">Salasana</label>
                            <input type="password" name="password" id="login-password" value="" class="text ui-widget-content ui-corner-all" />
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Sulje</button>
                    <button type="button" class="btn btn-primary" id="login-button">Kirjaudu</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="container" id="container">
        <div class="row page-header well">
            <h1>Tulossivu <small>kaudella 2016</small></h1>
        </div>

        <div class="well" id="leaderboard" ng-controller="Scores">

            <div class="row" id="user-list" ng-cloak>
                <div class="label label-info col-sm-12">Kokonaiskilpailun tuloslista</div>
                <div ng-repeat="user in users | sortByPoints" ng-class-even="even" ng-class-odd="odd">
                    <div class="row col-sm-12 col-xs-12 col-lg-12 col-md-12">
                        <div class="col-sm-1 col-xs-1 col-lg-1 col-md-1">
							<button style="width:100%" class="btn btn-info disabled"><b>{{$index + 1}}</b></button>
						</div>
						<div class="col-sm-2 col-xs-2 col-lg-2 col-md-2">
							<button style="text-align: left; width:100%" class="text-left  btn btn-primary disabled"><b>{{user.userid}}</b></button>
						</div>
						<div class="col-sm-9 col-xs-9 col-lg-9 col-md-9">
							<span class="btn btn-primary" ng-model="click" ng-attr-style="text-align: right; width:{{100 * user.totalpoints / highestTotalPoints | number:0}}%">{{user.totalpoints}}</span>
						</div>						
                    </div>
                </div>
            </div>
        </div>

        <div class="well" id="gpscores" ng-controller="GpScores">
            <div class="row" id="user-list" ng-cloak>
                <div class="label label-info col-sm-12 col-xs-12 col-md-12 col-lg-12">Osakilpailun tulokset</div>
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12" id="gpidSelect">
                    <div>
                        <div class="input-group">
                            <select id="gp_select" class="selectpicker form-control" data-style="btn-primary" ng-model="selected_gp_id" ng-options="score.gp_id as score.gp_short_name for score in gpscores | orderBy:['+gp_number'] | toArray" ng-change="selectedGpData()"></select><br>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12" id="gp-result">
                    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-6">						
                        Aika-ajo
                        <ol>
                          <li ng-repeat="result in selected_gp_results.qlresults">
                              {{result.info}}
                          </li>
                        </ol>
                    </div>
                    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-6">
                        Kilpailu
                        <ol>
                            <li ng-repeat="result in selected_gp_results.gpresults">
                                {{result.info}}
                            </li>
                        </ol>

                    </div>
                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                        Nopein kierrosaika {{selected_gp_results.fastestlap.info}}
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12" id="gp-player-scores">
                    <div ng-repeat="score in selected_gp_score | sortByPoints">
                        <div class="label label-info col-sm-2 col-xs-2 col-md-1 col-lg-1">{{$index + 1}}</div>
                        <div class="label label-primary col-sm-6 col-xs-6 col-md-2 col-lg-2">{{score.userid}}</div>
                        <div class="label label-warning col-sm-2 col-xs-4 col-md-1 col-lg-1">{{score.totalpoints}}</div>
                        <div class="label label-info col-sm-2 col-md-2 col-lg-2 hidden-xs">
                            <span class="glyphicon glyphicon-flag"></span> {{score.gppoints}}
                            <span class="glyphicon glyphicon-time"></span> {{score.qpoints}}
                            <span class="glyphicon glyphicon-dashboard"></span> {{score.fastestlap.points}}
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="alert-info alert-dismissable col-sm-12">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <p>Kokonaistilanteen järjestyksessä huomioidaan tasapelisääntö. Eli kilpailuissa eniten voittoja veikannut sijoittuu paremmin. Kisaviikonlopun tuloslistaan pitää vaihtaa vielä näyttämään nimet kuten kokonaistuloksessa.</p>
            <p><span class="glyphicon glyphicon-flag"></span> = kilpailun pistetulos, <span class="glyphicon glyphicon-time"></span> = aika-ajon pistetulos, <span class="glyphicon glyphicon-dashboard"></span> = nopeimman kierroksen pistetulos.</p>
        </div>
    </div>
    <!--
    <div class="alert-info alert-dismissable col-sm-12">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Infoa!</strong><p>Sivun latauksessa on asynkroniseen tiedon hakuun liittyvä ongelma. Jos taulukko/osallistujalista ei näy klikkaa <a href="#" onclick="loadPage('scores.html');">tästä</a> tai Tulokset-valikosta uudestaan.</p>
    </div>
    -->
</body>
</html>