<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="well" ng-app="calendar" ng-controller="Calendar">
        {{predicate}} {{reverse}}
        <div ng-cloak ng-repeat="calendar in calendars | orderBy:'gp_id'">
            <em>{{calendar.gp_id}} </em>{{calendar.gp_name}}
        </div><br />
        <!-- form class="form-inline" ng-submit="addMessage()">
            <input type="text" ng-model="message" placeholder="Message...">
            <button class="btn" type="submit">
                <i class="icon-reply"> Send</i>
            </button>
        </form-->
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
    <script type="text/javascript">
        angular.module('calendar', ['firebase']).controller('Calendar', ['$scope', '$firebase',
          function ($scope, $firebase) {
              var ref = new Firebase('https://f1kaapo.firebaseio.com/calendar/2014');
              $scope.calendars = $firebase(ref.limit(20));
              $scope.predicate = 'gp_number';              

              $scope.addCalendar = function () {                  
                  $scope.calendars.$add({
                      from: $scope.calendar, content: $scope.calendar.gp_name
                  });
                  $scope.calendars = "";
              }

          }]);
    </script>
</body>
</html>
