<!DOCTYPE html>
<html ng-app="f1app">
<head>
    <title>F1 Veikkaus -veikkauslappu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- local scripts -->
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>

    <script src="js/data.js"></script>
</head>
<body>
    <div id="content" class="container">
        <form name="betslip">
            <div class="row" ng-controller="Calendar">
                <div class="col-sm-4" id="gpselection">
                    <span class="label label-default">Veikkaa</span>
                    <div class="input-group">
                        <span class="input-group-addon"><img src="img/flag.png"></span>
                        <select class="form-control" name="gp_id">
                            <option value="000">Valitse kilpailu</option>
                            <option ng-repeat="calendar in calendars | toArray | orderBy:'gp_number'" value="{{calendar.gp_id}}">{{calendar.gp_short_name}} {{calendar.gp_date | date:'dd.MM.yyyy'}}</option>
                        </select><br />
                    </div>
                </div>
                <div class="col-sm-4" id="gpselection"><span> </span></div>
            </div>
            <div class="row" ng-controller="Drivers">
                <div class="col-sm-4" id="qualifications">
                    <span class="label label-default">Aika-ajotulos</span>
                    <div class="input-group" ng-repeat="val in range">
                        <span class="input-group-addon"><img src="img/{{val}}.png"></span>
                        <select class="form-control" name="q_id_{{val}}">
                            <option value="000">Valitse kuski</option>
                            <option ng-repeat="driver in drivers | toArray | orderBy:'d_sort_id'">{{driver.d_name}} - {{driver.d_team}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4" id="grandprix">
                    <span class="label label-default">Kilpailutulos</span>
                    <div class="input-group" ng-repeat="val in range">
                        <span class="input-group-addon"><img src="img/{{val}}.png"></span>
                        <select class="form-control" name="gp_id_{{val}}">
                            <option value="000">Valitse kuski</option>
                            <option ng-repeat="driver in drivers | toArray | orderBy:'d_sort_id'">{{driver.d_name}} - {{driver.d_team}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Hmm. centering doesn't work -->
                <div class="col-sm-4">
                    <button type="button" class="btn btn-warning disabled left">Vahvista</button>
                </div>
                <!-- Hmm. centering doesn't work -->
                <div class="col-sm-4">
                    <button type="button" class="btn btn-success disabled right">Edellinen</button>
                </div>
            </div>
        </form>
    </div>
    <script>
        $(document).ready(function () {
            $('#nav').load('nav.html', function () {
                $('.nav a:contains("Etusivu")').parent().removeClass('active');
                $('.nav a:contains("Veikkaa")').parent().addClass('active');
            })
        });
    </script>
</body>
</html>